@layer utilities {
  .loading1 {
    background-image: svg-load('../../images/infinite.svg');
    @apply bg-gray-100 bg-center bg-no-repeat;
  }
  .loading2 {
    background-image: svg-load('../../images/loading.svg');
    @apply bg-gray-100 bg-center bg-no-repeat;
  }
  .line {
    background: linear-gradient(to right, #eee, #eee 1px, #fff 1px, #fff);
    background-size: 10.74rem 100%;
  }
  .dark-gray {
    background-image: url('/images/dark-gray.jpg');
  }
  .sports-gray {
    background-image: url('/images/sports-gray.jpg');
  }
}
