.menu-item {
  @apply relative;
  > a {
    @apply mr-6 block py-1 text-xl;
  }
  &:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
.submenu {
  min-width: 170px;
  transform: translateY(-10px);
  visibility: hidden;
  top: 120%;
  @apply absolute left-0 bg-black p-4 text-sm text-white opacity-0 transition-all duration-300 ease-in;
  &::before {
    position: absolute;
    top: -15px;
    left: 8px;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #111;
    content: '';
  }
  a {
    @apply hover:underline;
  }
}
.headroom-wrapper {
  @apply relative z-50;
}
.headroom--pinned {
  @apply !z-20;
}
