.mini-cart {
  min-width: 22px;
  padding: 1px 2px;
  @apply relative rounded-b border-2 border-black text-center text-xs font-medium leading-none tracking-tighter;
  &:hover {
    @apply bg-black text-white;
  }
  &::before {
    position: absolute;
    top: -7px;
    left: 50%;
    width: 12px;
    height: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    content: '';
    transform: translateX(-50%);
    @apply border-2 border-black;
  }
}
