.best-selling {
  @apply relative lg:pr-16;
  .slick-arrow {
    @screen dlg {
      @apply !hidden;
    }
    &:hover:before {
      @apply bg-black text-white;
    }
    &:before {
      border: 1px solid #111111;
      @apply py-6 px-5 text-black transition-all;
    }
    &.slick-prev {
      @apply top-8 -right-5 left-auto;
      &:before {
        content: '⟵';
      }
    }
    &.slick-next {
      @apply top-24 -right-5 mt-[5px];
      &:before {
        content: '⟶';
      }
    }
  }
}

.arrow1 {
  @apply relative;
  .slick-arrow {
    @screen dlg {
      @apply !hidden;
    }
    &:hover:before {
      @apply bg-black text-white;
    }
    &:before {
      border: 1px solid #111111;
      @apply bg-white px-1 pb-2 text-black transition-all;
    }
    &.slick-prev {
      @apply absolute top-16 -left-3 z-10;
      &:before {
        content: '⟵';
      }
    }
    &.slick-next {
      @apply absolute top-16  right-0 z-10;
      &:before {
        content: '⟶';
      }
    }
  }
}

.arrow2 {
  @apply relative;
  .slick-arrow {
    @screen dlg {
      @apply !hidden;
    }
    &:hover:before {
      @apply bg-black text-white;
    }
    &:before {
      border: 1px solid #111111;
      @apply px-4 pt-2 pb-4 text-black transition-all;
    }
    &.slick-prev {
      @apply absolute -top-12 right-32 left-auto z-10;
      &:before {
        content: '⟵';
      }
    }
    &.slick-next {
      @apply absolute -top-12 right-16 z-10;
      &:before {
        content: '⟶';
      }
    }
  }
}
.arrow3 {
  @apply relative;
  .slick-arrow {
    @screen dlg {
      @apply !hidden;
    }
    &:hover:before {
      @apply bg-black text-white;
    }
    &:before {
      border: 1px solid #111111;
      @apply px-2 pt-1 pb-2 text-black transition-all;
    }
    &.slick-prev {
      @apply absolute -top-8 right-20 left-auto z-10;
      &:before {
        content: '⟵';
      }
    }
    &.slick-next {
      @apply absolute -top-8 right-8 z-10;
      &:before {
        content: '⟶';
      }
    }
  }
}
